<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Ombak Biru Chalet</title>

    <!-- Favicons-->
    <link rel="shortcut icon" th:href="@{stylesheets/img/favicon.png}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon"
        th:href="@{stylesheets/img/apple-touch-icon-57x57-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
        th:href="@{stylesheets/img/apple-touch-icon-72x72-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
        th:href="@{stylesheets/img/apple-touch-icon-114x114-precomposed.png}">
    <link th:rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
        th:href="@{stylesheets/img/apple-touch-icon-144x144-precomposed.png}">

    <!-- GOOGLE WEB FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- BASE CSS -->
    <link th:href="@{stylesheets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{stylesheets/css/style.css}" rel="stylesheet">
    <link th:href="@{stylesheets/css/vendors.min.css}" rel="stylesheet">

    <!-- SEPCIFIC CSS -->
    <link th:href="@{stylesheets/css/flex_slider.css}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link th:href="@{stylesheets/css/custom.css}" rel="stylesheet">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

        <script>
   $(document).ready(function () {
      $('#guestTable').DataTable();
   });
</script>

</head>

<body class="datepicker_mobile_full">
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Page Preload -->

    <div class="layer"></div>
    <header class="reveal_header" style="background-color: #24262d;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6">
                    <a th:href="@{/staffHome}" class="logo_normal"><img th:src="@{stylesheets/img/logo.png}" width="135" height="45" alt=""></a>
                    <a th:href="@{/staffHome}" class="logo_sticky"><img th:src="@{stylesheets/img/logo_sticky.png}" width="135" height="45" alt=""></a>
                </div>
                <div class="col-6">
                    <nav>
                        <ul>
                            <li><a class="btn_1 btn_scrollto">Staff</a></li>
                            <li>
                                <div class="hamburger_2 open_close_nav_panel">
                                    <div class="hamburger__box">
                                        <div class="hamburger__inner"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div><!-- /container -->
    </header><!-- /Header -->

     <!-- -------------------- sidebar panel ------------------------- -->
    <div class="nav_panel">
    <a th:href="@{#}" class="closebt open_close_nav_panel"><i class="bi bi-x"></i></a>
        <div class="logo_panel"><img th:src="@{stylesheets/img/logo_sticky.png}" width="135" height="45" alt=""></div>
    <div class="sidebar-navigation">
      <nav>
        <ul class="level-1">
          <li class=""><a th:href="@{/staffHome}"><i class="bi bi-house" style="font-size: 25px;"></i> &nbsp;
              Home</a></li>
          <li><a th:href="@{/staffProfile}"><i class="bi bi-person-check" style="font-size: 25px;"></i>
              &nbsp; View Profile</a></li>
          <li><a th:href="@{/staffRoomList}"><i class="bi bi-clipboard-check" style="font-size: 25px;"></i>
              &nbsp; Manage Room</a></li>
          <li><a th:href="@{/staffReservationList}"><i class="bi bi-view-list" style="font-size: 25px;"></i>
              &nbsp; Reservation List</a></li>
          <li><a th:href="@{/staffGuestList}"><i class="bi bi-people" style="font-size: 25px;"></i>
              &nbsp; Manage Guest</a></li>
          <li><a th:href="@{/staffGenerateReport}"><i class="bi bi-file-earmark-bar-graph" style="font-size: 25px;"></i>
              &nbsp; Generate Report</a></li>
          <li class="mt-5"><a th:href="@{/logout}" class="btn btn-danger pt-3"
              style="color: white; border-radius: 10px 10px 10px 10px; height: 50px;">Logout</a></li>
        </ul>
        <div class="panel_footer">
          <div class="copy">
            <div class="container py-3">
              © Ombak Biru Chalet Malaysia
            </div>
          </div>
        </div>
        <!-- /panel_footer -->
      </nav>
    </div>
    <!-- /sidebar-navigation -->
  </div>
  <!-- /nav_panel -->


    <main>
        <div class="container mt-5">
            &nbsp;
        </div>
        <div class="container mt-5 mb-5 align-items-center">
            <div class="row">
                <div class="col"></div>
                <div class="col-md card card-body py-5">
                    <div class="row my-3 text-center">
                        <span>
                            <h1>Guest List</h1>
                        </span>
                    </div>
                    <div class="row mx-2">
                        <table class="table table-hover table-bordered" id="guestTable">
                            <thead style="vertical-align: middle;">
                                <th class="text-center">Guest IC Number</th>
                                <th class="text-center">Guest Name</th>
                                <th class="text-center">Guest Phone Number</th>
                                <th class="text-center">Guest Gender</th>
                                <th class="text-center">Guest Race</th>
                                <th class="text-center">Guest Religion</th>
                                <th class="text-center">Guest Address</th>
                                <th class="text-center">Action</th>
                            </thead>
                            <tbody>
                                <tr th:each="guest : ${guests}">
                                    <td class="text-center" th:text="${guest.guestICNumber}"></td>
                                    <td class="text-center" th:text="${guest.guestName}"></td>
                                    <td class="text-center" th:text="${guest.guestPhoneNumber}"></td>
                                    <td class="text-center" th:text="${guest.guestGender}"></td>
                                    <td class="text-center" th:text="${guest.guestRace}"></td>
                                    <td class="text-center" th:text="${guest.guestReligion}"></td>
                                    <td class="text-center" th:text="${guest.guestAddress}"></td>
                                    <td class="text-center" ><a th:href="@{/staffViewGuest?guestICNumber=}+${guest.guestICNumber}" th:value="${guest.guestICNumber}"><i class="bi bi-eye-fill" style="font-size: 20px;"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <br>
    </main>

    <footer class="revealed">
        <div class="footer_bg">
            <div class="gradient_over"></div>
        </div>
        <div class="container">
            <div class="row move_content">
                <div class="col-lg-4 col-md-12">
                    <h5>Contacts</h5>
                    <ul>
                        <li>Jalan Telok Gong / Pengkalan Balak, Kampung Sungai Tuang<br>78300 Masjid Tanah,
                            Melaka<br><br></li>
                        <li><strong><a th:href="@{#0}">dchaletombakbiru@gmail.com</a></strong></li>
                        <li><strong><a th:href="@{#0}">016-2115359/012-2431337</a></strong></li>
                    </ul>
                    <div class="social">
                        <ul>
                            <li><a th:href="@{#0}"><i class="bi bi-instagram"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-whatsapp"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-facebook"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/container-->
        <div class="copy">
            <div class="container">
                © Ombak Biru Chalet - by <a href="#">Ocean Blue Lemond</a>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- /back to top -->

    <!-- COMMON SCRIPTS -->
    <script th:src="@{stylesheets/js/common_scripts.js}"></script>
    <script th:src="@{stylesheets/js/common_functions.js}"></script>
    <script th:src="@{stylesheets/js/datepicker_inline.js}"></script>
    <script th:src="@{stylesheets/phpmailer/validate.js}"></script>
    
    <!-- SPECIFIC SCRIPTS -->
    <script th:src="@{stylesheets/js/jquery.flexslider.min.js}"></script>
    <script th:src="@{stylesheets/js/slider_func.js}"></script>



</body>

</html>
