<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>D Chalet Ombak Biru</title>
    <!-- Favicons-->
    <link rel="shortcut icon" th:href="@{stylesheets/img/favicon.png}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon"
        th:href="@{stylesheets/img/apple-touch-icon-57x57-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
        th:href="@{stylesheets/img/apple-touch-icon-72x72-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
        th:href="@{stylesheets/img/apple-touch-icon-114x114-precomposed.png}">
    <link th:rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
        th:href="@{stylesheets/img/apple-touch-icon-144x144-precomposed.png}">

    <!-- GOOGLE WEB FONT-->
    <link
        href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- BASE CSS -->
    <link th:href="@{stylesheets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{stylesheets/css/style.css}" rel="stylesheet">
    <link th:href="@{stylesheets/css/vendors.min.css}" rel="stylesheet">

    <!-- SEPCIFIC CSS -->
    <link th:href="@{stylesheets/css/flex_slider.css}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link th:href="@{stylesheets/css/custom.css}" rel="stylesheet">
</head>

<body class="datepicker_mobile_full">
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Page Preload -->

    <div class="layer"></div>


    <header class="reveal_header" style="background-color:#24262d;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6">
                    <a th:href="@{/staffHome}" class="logo"><img th:src="@{stylesheets/img/logo_sticky.png}" width="135" height="45"
                        alt=""></a>
                </div>
                <div class="col-6">
                    <nav>
                        <ul>
                            <li><a class="btn_1 btn_scrollto">Staff</a></li>
                            <li>
                                <div class="hamburger_2 open_close_nav_panel">
                                    <div class="hamburger__box">
                                        <div class="hamburger__inner"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div><!-- /container -->
    </header><!-- /Header -->



    <!-- -------------------- sidebar panel ------------------------- -->
    <div class="nav_panel">
        <a th:href="@{#}" class="closebt open_close_nav_panel"><i class="bi bi-x"></i></a>
        <div class="logo_panel"><img th:src="@{stylesheets/img/logo_sticky.png}" width="135" height="45" alt=""></div>
        <div class="sidebar-navigation">
            <nav>
                <ul class="level-1">
                <li class=""><a th:href="@{/staffHome}"><i class="bi bi-house" style="font-size: 25px;"></i> &nbsp;
                        Home</a></li>
                <li><a th:href="@{/staffProfile}"><i class="bi bi-person-check" style="font-size: 25px;"></i>
                        &nbsp; View Profile</a></li>
                <li><a th:href="@{/staffRoomList}"><i class="bi bi-clipboard-check" style="font-size: 25px;"></i>
                        &nbsp; Manage Room</a></li>
                <li><a th:href="@{/staffReservationList}"><i class="bi bi-view-list" style="font-size: 25px;"></i>
                        &nbsp; Reservation List</a></li>
                <li><a th:href="@{/staffGuestList}"><i class="bi bi-people" style="font-size: 25px;" ></i> 
                        &nbsp; Manage Guest</a></li>
                <li><a th:href="@{/staffGenerateReport}"><i class="bi bi-file-earmark-bar-graph"
                            style="font-size: 25px;"></i> &nbsp; Generate Report</a></li>
                <li class="mt-5"><a th:href="@{/logout}" class="btn btn-danger pt-3"
                        style="color: white; border-radius: 10px 10px 10px 10px; height: 50px;">Logout</a></li>
                </ul>
                <div class="panel_footer">
                    <div class="copy">
                        <div class="container py-3">
                            © Ombak Biru Chalet Malaysia
                        </div>
                    </div>
                </div>
                <!-- /panel_footer -->
            </nav>
        </div>
        <!-- /sidebar-navigation -->
    </div>
    <!-- /nav_panel -->

    <main>

        <div class="container mt-5">
            &nbsp;
        </div>

        <div class="container mt-5 mb-5 align-items-center">

            <div class="row">
                <div class="col">

                </div>

                <div class="col-md card card-body py-5">

                    <div class="row mt-3">
                        <div class="col-3 text-center">
                            <a th:href="@{/staffProfile}">
                                <div class="bi bi-arrow-left-circle" style="font-size: 50px;"></div>
                            </a>
                        </div>
                        <div class="col-md-6 text-center pt-3">
                            <div class="">

                                <h1>Staff Profile</h1>
                            </div>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                    <!-- <div class="row mt-3">
                        <div class="col-md-12 text-center">
                            <div class="">
                                <h1>Staff Profile</h1>
                            </div>
                        </div>
                    </div> -->

                    <div class="row m-auto">
                        <div class="col-md-12 text-center">
                            <div class="bi bi-person-badge" style="font-size:150px">

                            </div>
                        </div>
                    </div>

                    
                    <form method="post" th:action="@{/staffUpdate}" modelAttribute="staffUpdate" th:object="(${staffUpdate1})">
                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Full Name</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <input type="text" name="staffName" id="staffName" class="form-control" th:value="${staff.staffName}" pattern="[A-Za-z\s]+" required>
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>IC Number</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <input type="number" name="staffICNumber" id="staffICNumber" class="form-control" th:value="${staff.staffICNumber}" readonly>
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Address</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <input type="text" name="staffAddress" id="staffAddress" class="form-control" th:value="${staff.staffAddress}" required>
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Gender</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <select name="staffGender" id="staffGender" class="form-control form-select">
                                <option th:value="Male" th:selected="${staff.staffGender eq 'Male'}">Male</option>
                                <option th:value="Female" th:selected="${staff.staffGender eq 'Female'}">Female</option>
                            </select>
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Race</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <select name="staffRace" id="staffRace" class="form-control form-select">
                                <option th:value="Melayu" th:selected="${staff.staffRace eq 'Melayu'}">Melayu</option>
                                <option th:value="Cina" th:selected="${staff.staffRace eq 'Cina'}">Cina</option>
                                <option th:value="India" th:selected="${staff.staffRace eq 'India'}">India</option>
                                <option th:value="Others" th:selected="${staff.staffRace eq 'Others'}">Others</option>
                            </select>
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Religion</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <select name="staffReligion" id="staffReligion" class="form-control form-select">
                                <option th:value="Islam" th:selected="${staff.staffReligion eq 'Islam'}">Islam</option>
                                <option th:value="Budha" th:selected="${staff.staffReligion eq 'Budha'}">Budha</option>
                                <option th:value="Christian" th:selected="${staff.staffReligion eq 'Christian'}">Christian</option>
                                 <option th:value="Others" th:selected="${staff.staffReligion eq 'Others'}">Others</option>
                            </select>

                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Marital Status</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <select name="staffMaritalStatus" id="staffMaritalStatus" class="form-control form-select">
                                <option th:value="Single" th:selected="${staff.staffMaritalStatus eq 'Single'}">Single</option>
                                <option th:value="Married" th:selected="${staff.staffMaritalStatus eq 'Married'}">Married</option>
                                <option th:value="Divorce" th:selected="${staff.staffMaritalStatus eq 'Divorce'}">Divorce</option>
                                <option th:value="Widowed" th:selected="${staff.staffMaritalStatus eq 'Widowed'}">Widowed</option>
                                 <option th:value="Others" th:selected="${staff.staffMaritalStatus eq 'Others'}">Others</option>
                            </select>

                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Role</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <input type="text" name="staffRole" id="staffRole" class="form-control" th:value="${staff.staffRole}" readonly>
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Phone Number</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <input type="text" name="staffPhoneNumber" id="staffPhoneNumber" class="form-control" minlength="10" maxlength="11" th:value="${staff.staffPhoneNumber}" required>
                        </div>
                    </div>

                    <script>
                        document.getElementById("staffPhoneNumber").addEventListener("input", function() {
                            // Remove any non-numeric characters
                            this.value = this.value.replace(/\D/g, '');
                        });
                    </script>

                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Email</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <input type="email" name="staffEmail" id="staffEmail" class="form-control" th:value="${staff.staffEmail}" required>
                        </div>
                    </div>


                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Password</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <input type="password" name="staffPassword" id="staffPassword" class="form-control" th:value="${staff.staffPassword}" required>
                        </div>
                    </div>
                    <div class="row m-5">
                        <div class="col"></div>
                        <div class="col-6 text-center">
                           <!-- <a th:href="@{/staffProfile}" class="btn btn-dark btn-md"
                                style="border-radius: 3px 3px 3px 3px; height: auto; width:150px" onclick="success()">Update</a> -->
                            <button type="submit" class="btn btn-dark btn-md" style="border-radius: 3px 3px 3px 3px; height: auto; width:150px" onclick="success()">Update</button>

<!--                             <script>
                                function success() {
                                    alert("Successfully Update");
                                }
                            </script> -->
                            <a th:href="@{/staffProfile}" class="btn btn-danger btn-md"
                                style="border-radius: 3px 3px 3px 3px; height: auto; width:150px">Cancel</a>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
                </div>
                <div class="col">
                </div>
            </div>

            <div class="container mt-5">
                &nbsp;
            </div>
            <!-- <div class="row card card-body align-items-center"> -->
        </div>
        <!-- </div> -->
    </main>

    <footer class="revealed">
        <div class="footer_bg">
            <div class="gradient_over"></div>
      
        </div>
        <div class="container">
            <div class="row move_content">
                <div class="col-lg-4 col-md-12">
                    <h5>Contacts</h5>
                    <ul>
                        <li>Jalan Telok Gong / Pengkalan Balak, Kampung Sungai Tuang<br>78300 Masjid Tanah,
                            Melaka<br><br></li>
                        <li><strong><a th:href="@{#0}">dchaletombakbiru@gmail.com</a></strong></li>
                        <li><strong><a th:href="@{#0}">016-2115359/012-2431337</a></strong></li>
                    </ul>
                    <div class="social">
                        <ul>
                            <li><a th:href="@{#0}"><i class="bi bi-instagram"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-whatsapp"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-facebook"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/container-->
        <div class="copy">
            <div class="container">
                © Ombak Biru Chalet - by <a th:href="@{#}">Ocean Blue Lemond</a>
            </div>
        </div>
      </footer>
    <!-- /footer -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- /back to top -->

    <!-- COMMON SCRIPTS -->
    <script th:src="@{stylesheets/js/common_scripts.js}"></script>
    <script th:src="@{stylesheets/js/common_functions.js}"></script>
    <script th:src="@{stylesheets/js/datepicker_inline.js}"></script>
    <script th:src="@{stylesheets/phpmailer/validate.js}"></script>

</body>

</html>
