<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Room Reservation</title>
    <!-- Favicons-->
    <link rel="shortcut icon" th:href="@{stylesheets/img/favicon.png}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon"
        th:href="@{stylesheets/img/apple-touch-icon-57x57-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
        th:href="@{stylesheets/img/apple-touch-icon-72x72-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
        th:href="@{stylesheets/img/apple-touch-icon-114x114-precomposed.png}">
    <link th:rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
        th:href="@{stylesheets/img/apple-touch-icon-144x144-precomposed.png}">

    <!-- GOOGLE WEB FONT-->
    <link
        href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- BASE CSS -->
    <link th:href="@{stylesheets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{stylesheets/css/style.css}" rel="stylesheet">
    <link th:href="@{stylesheets/css/vendors.min.css}" rel="stylesheet">

    <!-- SEPCIFIC CSS -->
    <link th:href="@{stylesheets/css/flex_slider.css}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link th:href="@{stylesheets/css/custom.css}" rel="stylesheet">
</head>

<body class="datepicker_mobile_full">
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Page Preload -->

    <div class="layer"></div>


    <header class="reveal_header bg-dark">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6">
                    <a th:href="@{/index}" class="logo_normal"><img th:src="@{stylesheets/img/logo.png}" width="135"
                            height="45" alt=""></a>
                    <a th:href="@{/index}" class="logo_sticky"><img th:src="@{stylesheets/img/logo_sticky.png}"
                            width="135" height="45" alt=""></a>
                </div>
                <div class="col-6">
                    <nav>
                        <ul>
                            <li><a th:href="@{/guestMakeRoomReservation}" class="btn_1 btn_scrollto">Book Now</a></li>
                            <li>
                                <div class="hamburger_2 open_close_nav_panel">
                                    <div class="hamburger__box">
                                        <div class="hamburger__inner"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div><!-- /container -->
    </header><!-- /Header -->

    <div class="nav_panel">
        <a th:href="@{#}" class="closebt open_close_nav_panel"><i class="bi bi-x"></i></a>
        <div class="logo_panel"><img th:src="@{stylesheets/img/logo_sticky.png}" width="135" height="45" alt=""></div>
        <div class="sidebar-navigation">
            <nav>
                <ul class="level-1">
                    <li><a th:href="@{/index}"><i class="bi bi-house" style="font-size: 25px;"></i> &nbsp;Home</a></li>
                    <li><a th:href="@{/guestProfile}"><i class="bi bi-person-square" style="font-size: 25px;"></i>
                            &nbsp;Profile</a></li>
                    <li><a th:href="@{/guestViewRoom}"><i class="bi bi-door-open" style="font-size: 25px;"></i>
                            &nbsp;Our
                            Rooms</a></li>
                    <li><a th:href="@{/guestMakeRoomReservation}"><i class="bi bi-plus" style="font-size: 25px;"></i>
                            &nbsp;Make Reservation</a></li>
                    <li><a th:href="@{/guestRoomReservation}"><i class="bi bi-receipt-cutoff"
                                style="font-size: 25px;"></i> &nbsp;Records</a></li>
                    <li class="mt-5"><a th:href="@{/logout}" class="btn btn-danger pt-3" type="button"
                            style="color: white; border-radius: 10px 10px 10px 10px; height: 50px;">Logout</a></li>
                </ul>
                <div class="panel_footer">
                    <div class="copy">
                        <div class="container py-3">
                            © Ombak Biru Chalet Malaysia
                        </div>
                    </div>
                </div>
                <!-- /panel_footer -->
            </nav>
        </div>
        <!-- /sidebar-navigation -->
    </div>
    <!-- /nav_panel -->


    <main>
        <div class="container mt-5">
            &nbsp;
        </div>

        <div class="container mt-5 mb-5 align-items-center">
            <div class="row">
                <div class="col">

                </div>

                <div class="col-md card card-body py-5">
                    <div class="row m-4">
                        <div class="col-3 text-center">
                            <a th:href="@{/index}">
                                <div class="bi bi-arrow-left-circle" style="font-size: 50px;"></div>
                            </a>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="">
                                <h1>Make Room Reservation</h1>
                            </div>
                        </div>
                    </div>

                    <form method="post" th:action="@{/guestMakeRoomReservation}" modelAttribute="guestMakeRoomReservation" th:object="(${guestMakeRoomReservation})" onsubmit="return validateForm()">
                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>IC Number</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <input type="number" name="guestICNumber" id="" class="form-control" th:value="${session.guestICNumber}" readonly>
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Check-in & Check-out Date</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <div class="booking_wrapper">
                                <p id="daterangepicker-result" class="d-none"></p>
                                <input type="hidden" id="date_booking" name="date">
                                <div id="daterangepicker-embedded-container"
                                    class="embedded-daterangepicker clearfix mb-4"></div>
                                <div class="row"></div>
                            </div>
                        </div>

                        <div class="row m-3">
                            <div class="col-1"></div>
                            <div class="col pt-3">
                                <span>
                                    <h6>Room Type</h6>
                                </span>
                            </div>
                            <div class="col-8">
                                <div class="custom_select">
                                    <select class="wide" name="roomType" id="rooms_booking">
                                        <option value="Deluxe Room">Deluxe Room</option>
                                        <option value="Standard Room">Standard Room</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row m-3">
                            <div class="col-1"></div>
                            <div class="col pt-3">
                                <span>
                                    <h6>Total Adults</h6>
                                </span>
                            </div>
                            <div class="col-8">
                                <div class="qty-buttons mb-3 version_2">
                                    <input type="button" value="+" class="qtyplus" name="totalAdult">
                                    <input type="number" name="totalAdult" id="totalAdult" value=""
                                        class="qty form-control" placeholder="Adults" min="1">
                                    <input type="button" value="-" class="qtyminus" name="totalAdult">
                                </div>
                            </div>
                        </div>

                        <div class="row m-3">
                            <div class="col-1"></div>
                            <div class="col pt-3">
                                <span>
                                    <h6>Total Kids</h6>
                                </span>
                            </div>
                            <div class="col-8">
                                <div class="mb-3 qty-buttons mb-3 version_2">
                                    <input type="button" value="+" class="qtyplus" name="totalKids">
                                    <input type="number" name="totalKids" id="totalKids" value="" class="qty form-control"
                                        placeholder="Childs">
                                    <input type="button" value="-" class="qtyminus" name="totalKids">
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row m-3">
                            <div class="col-1"></div>
                            <div class="col pt-3">
                                <span>
                                    <h6>Add-on Room Service</h6>
                                    <div class="col-9"><a class="" th:href="@{/guestViewService}" target="blank">View
                                            Catalogue</a></div>
                                </span>
                            </div>
                            <div class="col-8">
                                <div class="custom_select">
                                    <select name="" id="" class="wide">
                                        <option value="">Select</option>
                                        <option value="">S01- Barbecue Set</option>
                                        <option value="">S02 - Dapur & Gas (Set A) </option>
                                        <option value="">S03 - Dapur & Gas (Set B) </option>
                                        <option value="">S04- Toto (Set A)</option>
                                        <option value="">S05 - Toto (Set B)</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->

                        <div class="row m-3">
                            <div class="col-1"></div>
                            <div class="col pt-3">
                                <span>
                                    <h6>Total Room</h6>
                                </span>
                            </div>
                            <div class="col-8">
                                <div class="qty-buttons mb-3 version_2">
                                    <input type="button" value="+" class="qtyplus" name="totalRoom" >
                                    <input type="number" name="totalRoom" id="totalRoom" value="" class="qty form-control"
                                        placeholder="Total Room" min="1">
                                    <input type="button" value="-" class="qtyminus" name="totalRoom">
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row m-3">
                            <div class="col-1"></div>
                            <div class="col pt-3">
                                <span>
                                    <h6>Total Payment</h6>
                                </span>
                            </div>
                            <div class="col-8">
                                <div class="qty-buttons mb-3 version_2">
                                    <input type="text" name="" id="" class="form-control">
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <div class="row m-3">
                        <div class="col-1"></div>
                        <div class="col pt-3">
                            <span>
                                <h6>Add Service ?</h6>
                            </span>
                        </div>
                        <div class="col-8">
                            <div class="custom_radio mb-3 version_2">
                               
                                <input type="radio" name="addon" class="form-check-input" value="Yes" />
                                <label class="form-check-label" value="Yes">Yes</label>
                                
                                <input type="radio" name="addon" class="form-check-input" value="No" />
                                <label class="form-check-label" value="No">No</label>
                            </div>
                        </div>
                    </div>

                    

                    <div class="row m-5">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-dark btn-lg" style="border-radius: 3px 3px 3px 3px; height: auto; width:150px">Submit</button>
                            </div>
                    </div>

                </div>
                <div class="col">
                </div>
            </div>
            </form>
            <div class="container mt-5">
                &nbsp;
            </div>
        </div>
    </main>

    <footer class="revealed">
        <div class="footer_bg">
            <div class="gradient_over"></div>

        </div>
        <div class="container">
            <div class="row move_content">
                <div class="col-lg-4 col-md-12">
                    <h5>Contacts</h5>
                    <ul>
                        <li>Jalan Telok Gong / Pengkalan Balak, Kampung Sungai Tuang<br>78300 Masjid Tanah,
                            Melaka<br><br></li>
                        <li><strong><a th:href="@{#0}">dchaletombakbiru@gmail.com</a></strong></li>
                        <li><strong><a th:href="@{#0}">016-2115359/012-2431337</a></strong></li>
                    </ul>
                    <div class="social">
                        <ul>
                            <li><a th:href="@{#0}"><i class="bi bi-instagram"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-whatsapp"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-facebook"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/container-->
        <div class="copy">
            <div class="container">
                © Ombak Biru Chalet - by <a th:href="@{#}">Ocean Blue Lemond</a>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- /back to top -->
    <!-- VALIDATE -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        function validateForm() {
            // Check IC Number
            var icNumber = document.getElementById('guestICNumber').value;
            if (!icNumber.trim()) {
                alert('Please fill in the IC Number.');
                return false;
            }
    
            // Check Total Adults
            var totalAdult = document.getElementById('totalAdult').value;
            if (!totalAdult.trim() || parseInt(totalAdult) <= 0) {
                alert('Please enter a valid number greater than 0 for Total Adults.');
                return false;
            }
    
            // Check Total Kids
            var totalKids = document.getElementById('totalKids').value;
            if (!totalKids.trim() || parseInt(totalKids) < 0) {
                alert('Please enter a valid number greater than or equal to 0 for Total Kids.');
                return false;
            }
    
            // Check Total Room
            var totalRoom = document.getElementById('totalRoom').value;
            if (!totalRoom.trim() || parseInt(totalRoom) <= 0) {
                alert('Please enter a valid number greater than 0 for Total Room.');
                return false;
            }
    
            // Check if Total Room is more than 0, but Total Kids can be 0
            if (parseInt(totalRoom) > 0 && parseInt(totalKids) === 0) {
                alert('You must have at least one adult or one child in the room.');
                return false;
            }
    
            // Other validation checks can be added here
    
            // If all validation passes, submit the form
            return true;
        }
        /*]]>*/
    </script>
    <!-- COMMON SCRIPTS -->
    <script th:src="@{stylesheets/js/common_scripts.js}"></script>
    <script th:src="@{stylesheets/js/common_functions.js}"></script>
    <script th:src="@{stylesheets/js/datepicker_inline.js}"></script>
    <script th:src="@{stylesheets/phpmailer/validate.js}"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script th:src="@{stylesheets/js/jquery.flexslider.min.js}"></script>
    <script th:src="@{stylesheets/js/slider_func.js}"></script>

    <script th:if="${session.messege}" th:inline="javascript">
    /* Display error message in an alert */
    alert([[${session.messege}]]);
    </script>
</body>

</html>
