<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>D Chalet Ombak Biru</title>
    <!-- Favicons-->
    <link rel="shortcut icon" th:href="@{stylesheets/img/favicon.png}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon"
        th:href="@{stylesheets/img/apple-touch-icon-57x57-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
        th:href="@{stylesheets/img/apple-touch-icon-72x72-precomposed.png}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
        th:href="@{stylesheets/img/apple-touch-icon-114x114-precomposed.png}">
    <link th:rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
        th:href="@{stylesheets/img/apple-touch-icon-144x144-precomposed.png}">

    <!-- GOOGLE WEB FONT-->
    <link
        href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- BASE CSS -->
    <link th:href="@{stylesheets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{stylesheets/css/style.css}" rel="stylesheet">
    <link th:href="@{stylesheets/css/vendors.min.css}" rel="stylesheet">

    <!-- SEPCIFIC CSS -->
    <link th:href="@{stylesheets/css/flex_slider.css}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link th:href="@{stylesheets/css/custom.css}" rel="stylesheet">
</head>

<body class="datepicker_mobile_full">


    <header class="reveal_header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6">
                    <a th:href="@{/index}" class="logo_normal"><img th:src="@{stylesheets/img/logo.png}" width="135"
                            height="45" alt=""></a>
                    <a th:href="@{/index}" class="logo_sticky"><img th:src="@{stylesheets/img/logo_sticky.png}"
                            width="135" height="45" alt=""></a>
                </div>
                <div class="col-6">
                    <nav>
                        <ul>
                            <li><a th:href="@{/guestMakeRoomReservation}" class="btn_1 btn_scrollto">Book Now</a></li>
                            <li>
                                <div class="hamburger_2 open_close_nav_panel">
                                    <div class="hamburger__box">
                                        <div class="hamburger__inner"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div><!-- /container -->
    </header><!-- /Header -->

    <div class="nav_panel">
        <a th:href="@{#}" class="closebt open_close_nav_panel"><i class="bi bi-x"></i></a>
        <div class="logo_panel"><img th:src="@{stylesheets/img/logo_sticky.png}" width="135" height="45" alt=""></div>
        <div class="sidebar-navigation">
            <nav>

                <ul class="level-1">
                    <li><a th:href="@{/index}"><i class="bi bi-house" style="font-size: 25px;"></i> &nbsp;Home</a></li>
                    <li><a th:href="@{/guestProfile}"><i class="bi bi-person-square" style="font-size: 25px;"></i>
                            &nbsp;Profile</a></li>
                    <li><a th:href="@{/guestViewRoom}"><i class="bi bi-door-open" style="font-size: 25px;"></i>
                            &nbsp;Our
                            Rooms</a></li>
                    <li><a th:href="@{/guestMakeRoomReservation}"><i class="bi bi-plus" style="font-size: 25px;"></i>
                            &nbsp;Make Reservation</a></li>
                    <li><a th:href="@{/guestRoomReservation}"><i class="bi bi-receipt-cutoff"
                                style="font-size: 25px;"></i> &nbsp;Records</a></li>
                    <li class="mt-5"><a th:href="@{/logout}" class="btn btn-danger pt-3" type="button"
                            style="color: white; border-radius: 10px 10px 10px 10px; height: 50px;">Logout</a></li>
                </ul>
                <div class="panel_footer">
                    <div class="copy">
                        <div class="container py-3">
                            © Ombak Biru Chalet Malaysia
                        </div>
                    </div>
                </div>
                <!-- /panel_footer -->
            </nav>
        </div>
        <!-- /sidebar-navigation -->
    </div>
    <!-- /nav_panel -->

    <main>
        <div class="slider">
            <div id="slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <img th:src="@{stylesheets/img/rooms/standard-1.jpg}" alt="">
                        <div class="meta">
                            <h3>Standard Room</h3>
                            <div class="info">
                                <p>Exquisite furnishings for a cosy ambience</p>
                            </div>
                            <a th:href="@{guestViewRoom}" class="btn_1 outline white">Read more</a>
                        </div>
                    </li>
                    <li>
                        <img th:src="@{stylesheets/img/rooms/deluxe-1.jpg}" alt="">
                        <div class="meta">
                            <h3>Deluxe Room</h3>
                            <div class="info">
                                <p>The simple yet comfortable atmosphere</p>
                            </div>
                            <a th:href="@{guestViewRoom}" class="btn_1 outline white">Read more</a>
                        </div>
                    </li>

                </ul>
                <div id="icon_drag_mobile"></div>
            </div>
            <div id="carousel_slider_wp">
                <div id="carousel_slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img th:src="@{stylesheets/img/rooms/standard-2.jpg}" alt="">
                            <div class="caption">
                                <h3>Standard Room<span>RM150 / Night</span></h3>
                                <small>4 Guests - 1 Bed</small>
                            </div>
                        </li>
                        <li>
                            <img th:src="@{stylesheets/img/rooms/deluxe-2.jpg}" alt="">
                            <div class="caption">
                                <h3>Deluxe Room <span>RM200 / Night</span></h3>
                                <small>8 Guests - 2 Bed</small>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- /slider -->

        <div class="pattern_2">
            <div class="container margin_120_95" id="first_section">
                <div class="row justify-content-between flex-lg-row-reverse align-items-center">
                    <div class="col-lg-5">
                        <div class="parallax_wrapper">
                            <img th:src="@{stylesheets/img/owner.jpg}" alt="" class="img-fluid rounded-img">

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="intro">
                            <div class="title">
                                <small>About us</small>
                                <h2>Welcome to D'Chalet Ombak Biru!</h2>
                            </div>
                            <p class="lead">We are a charming chalet located in Melaka, offering a delightful retreat
                                for travelers seeking a serene and comfortable stay.</p>
                            <p>Nestled amidst a picturesque setting, our chalet provides a peaceful atmosphere, perfect
                                for relaxation and rejuvenation. With our friendly and dedicated staff, we strive to
                                ensure your stay is memorable and enjoyable. Come and experience the tranquility of
                                D'Chalet Ombak Biru, where comfort meets natural beauty.</p>
                            <p><em>Ab Wahab...the Owner</em></p>
                        </div>
                    </div>
                </div>
                <!-- /Row -->
            </div>
        </div>
        <!-- /Pattern  -->



        <div class="bg_white">
            <div class="container margin_120_95">
                <div class="row justify-content-between d-flex align-items-center add_bottom_90">
                    <div class="col-lg-6">
                        <div class="pinned-image rounded_container pinned-image--small mb-4">
                            <div class="pinned-image__container">
                                <img th:src="@{stylesheets/img/local_amenities_1.jpg}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="title">
                            <small>Local Amenities</small>
                            <h3>Restaurants</h3>
                            <p>D'Chalet Ombak Biru in Melaka is surrounded by a lot of restaurants and food stalls,
                                providing visitors with an abundance of dining options. Click the button for suggestion
                            </p>
                            <p><a href="https://www.google.com/maps/search/Food+near+D+Chalet+Ombak+Biru/@2.3312258,102.0625333,17z/data=!3m1!4b1?entry=ttu"
                                    class="btn_1 mt-1 outline">Click me</a></p>
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <div class="row justify-content-between d-flex align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="pinned-image rounded_container pinned-image--small mb-4">
                            <div class="pinned-image__container">
                                <img th:src="@{stylesheets/img/local_amenities_3.jpg}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 order-lg-1">
                        <div class="title">
                            <small>Local Amenities</small>
                            <h3>Masjid</h3>
                            <p>The distance between D'Chalet Ombak Biru in Melaka and Masjid Aminin in Sungai Tuang is
                                walking distance.</p>
                            <p><a href="https://goo.gl/maps/riELFEBme8EJcDyh7" class="btn_1 mt-1 outline">Locate Me</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /row-->
            </div>
            <!-- /container-->
        </div>
        <!-- /bg_white -->



       

    </main>

    <footer class="revealed">
        <div class="footer_bg">
            <div class="gradient_over"></div>

        </div>
        <div class="container">
            <div class="row move_content">
                <div class="col-lg-4 col-md-12">
                    <h5>Contacts</h5>
                    <ul>
                        <li>Jalan Telok Gong / Pengkalan Balak, Kampung Sungai Tuang<br>78300 Masjid Tanah,
                            Melaka<br><br></li>
                        <li><strong><a th:href="@{#0}">dchaletombakbiru@gmail.com</a></strong></li>
                        <li><strong><a th:href="@{#0}">016-2115359/012-2431337</a></strong></li>
                    </ul>
                    <div class="social">
                        <ul>
                            <li><a th:href="@{#0}"><i class="bi bi-instagram"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-whatsapp"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-facebook"></i></a></li>
                            <li><a th:href="@{#0}"><i class="bi bi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/container-->
        <div class="copy">
            <div class="container">
                © Ombak Biru Chalet - by <a href="#">Ocean Blue Lemond</a>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- /back to top -->
    <!-- COMMON SCRIPTS -->
    <script th:src="@{stylesheets/js/common_scripts.js}"></script>
    <script th:src="@{stylesheets/js/common_functions.js}"></script>
    <script th:src="@{stylesheets/js/datepicker_inline.js}"></script>
    <script th:src="@{stylesheets/phpmailer/validate.js}"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script th:src="@{stylesheets/js/jquery.flexslider.min.js}"></script>
    <script th:src="@{stylesheets/js/slider_func.js}"></script>
</body>

</html>
