<!doctype html>
<html>
<head>
<title>Your Font/Glyphs</title>
<link rel="stylesheet" href="css/custom-icons.css">
<link href="../bootstrap.min.css" rel="stylesheet">
<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->
<style>
	#icons i{
		font-size:40px;
		display:block;
}
	</style>
</head>
<body>
 <div class="container" style="margin-top:60px;">
    	<div class="row" id="icons">
        	<div class="col-md-3 col-sm3 text-center add_bottom_20">
            	<i class="icon-spa-calendar_2"></i>.icon-spa-calendar_2
            </div>
           <div class="col-md-3 col-sm3 text-center add_bottom_20">
           <i class="icon-spa-airplane"></i>.icon-spa-airplane
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-bus"></i>.icon-spa-bus
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-candles"></i>.icon-spa-candles
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-car"></i>.icon-spa-car
            </div>
           <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-cartified_massagist"></i>.icon-spa-cartified_massagist
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-check_1"></i>.icon-spa-check_1
            </div>
          <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-check_2"></i>..icon-spa-check_2
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-contact_phone_1"></i>.icon-spa-contact_phone_1
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-credit_card"></i>.icon-spa-credit_card
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-disable"></i>.icon-spa-disable
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-dog"></i>.icon-spa-dog
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-dress"></i>.icon-spa-dress
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-metro"></i>.icon-spa-metro
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-oil"></i>.icon-spa-oil
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-parking"></i>.icon-spa-parking
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-tisane"></i>.icon-spa-tisane
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-towels"></i>.icon-spa-towels
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="icon-spa-train"></i>.icon-spa-train
            </div>
          
        </div>
    </div>
</body>
</html>