<!doctype html>
<html>
<head>
<title>Your Font/Glyphs</title>
<link rel="stylesheet" href="css/custom-icons.css">
<link href="../bootstrap.min.css" rel="stylesheet">
<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->
<style>
	#icons i{
		font-size:40px;
		display:block;
}
	</style>
</head>
<body>
  <div class="container" style="margin-top:60px;">
    	<div class="row" id="icons">
           <div class="col-md-3 col-sm3 text-center add_bottom_20">
           <i class="customicon-3-guests"></i>.customicon-3-guests
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-4-guests"></i>.customicon-4-guests
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-air-condition"></i>.customicon-air-condition
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-bath-tub"></i>.customicon-bath-tub
            </div>
           <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-breakfast"></i>.customicon-breakfast
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-cocktail"></i>.customicon-cocktail
            </div>
          <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-double-bed"></i>.customicon-double-bed
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-gym"></i>.customicon-gym
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-hairdryer"></i>.customicon-hairdryer
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-laundry"></i>.customicon-laundry
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-luggage"></i>.customicon-luggage
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-private-parking"></i>.customicon-private-parking
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-reception"></i>.customicon-reception
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-shower"></i>.customicon-shower
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-single-bed"></i>.customicon-single-bed
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-swimming-pool"></i>.customicon-swimming-pool
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-television"></i>.customicon-television
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-washing-machine"></i>.customicon-washing-machine
            </div>
            <div class="col-md-3 col-sm3 text-center add_bottom_20">
            <i class="customicon-wifi"></i>.customicon-wifi
            </div>
          
        </div>
    </div>
</body>
</html>